.header {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-height: 40px; */
  padding: 32px 40px 0;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
