.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
}

.card__name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  position: relative;
  top: 40px;
}

.card__image {
  width: 328px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.card__image:hover {
  cursor: pointer;
}
