.sideBar {
  width: 20%;
  display: flex;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin: 40px 0;
}

.sideBar__container {
  display: flex;
  gap: 10px;
  align-content: baseline;
  padding-left: 40px;
}

.sideBar__avatar_image {
  height: 40px;
  border-radius: 50%;
}

.sideBar__username {
  min-width: 135px;
  margin-top: 10px;
}

.sideBar__edit {
  border: none;
  background-color: transparent;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 24px;
  align-self: flex-start;
  cursor: pointer;
}

.sidebar__logout {
  border: none;
  background-color: transparent;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 8px;
  align-self: flex-start;
  color: red;
  cursor: pointer;
}
