.profile__sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.profile__sidebar {
  display: flex;
}

.profile__image {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name {
  margin-left: 16px;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-wrap: nowrap;
}

.profile__sidebar-edit {
  border: none;
  background-color: transparent;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 24px;
  align-self: flex-start;
  cursor: pointer;
}

.profile__sidebar-logout {
  border: none;
  background-color: transparent;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 8px;
  align-self: flex-start;
  color: red;
  cursor: pointer;
}
