.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 171px 40px 24px 40px;
}

.footer__tag {
  color: #000;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 1020px) {
  .footer {
    width: 345px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin: auto;
  }
}
