.clothesSection {
  max-width: 80%;
  margin-top: 36px;
}

.card_section-title {
  display: flex;
  gap: 18px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  margin-left: 32px;
  margin-bottom: 0;
}

.card-section__avatar_button {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  border: none;
  background-color: transparent;
}

.card-section__avatar_button:hover {
  cursor: pointer;
}
